# macOS cruft
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual envs
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Test / tooling caches
.pytest_cache/
.mypy_cache/
.cache/
